#orbs:
#  aws-ecr: circleci/aws-ecr@6.7.0
version: 2.1
jobs:
  build:
    docker:
      - image: cimg/node:15.4.0
    steps:
      - run: sudo apt update && curl --remote-name https://prerelease.keybase.io/keybase_amd64.deb && sudo apt install -y ./keybase_amd64.deb
      - run: export KEYBASE_USERNAME=kmccanless && run_keybase -gf && (echo $KEYBASE_PAPERKEY | keybase oneshot -u $KEYBASE_USERNAME) && keybase whoami
      - run: (kbfsfuse > /dev/null 2>&1 &) && keybase fs ls /keybase/team/zapshot.api
      - persist_to_workspace:
          root: /home/circleci
          paths:
            - project
  test:
    docker:
      - image: cimg/node:15.4.0
    steps:
      - attach_workspace:
          at: /home/circleci
      - run: ls /home/circleci
      - run: ls /home/circleci/project
workflows:
  test_build:
    jobs:
      - build
      - test:
          requires:
            - build
#workflows:
#  build_and_push_image:
#    jobs:
#    - build
#    - aws-ecr/build-and-push-image:
#        requires:
#          - build
#        account-url: AWS_ACCOUNT_URL
#        aws-access-key-id: AWS_ACCESS_KEY_ID
#        aws-secret-access-key: AWS_SECRET_ACCESS_KEY
#        create-repo: true
#        region: AWS_DEFAULT_REGION
#        repo: circleci
#        tag: ${CIRCLE_SHA1}
