#orbs:
#  aws-ecr: circleci/aws-ecr@6.7.0
version: 2.1
jobs:
  build:
    docker:
      - image: cimg/node:15.4.0
    steps:
      - run: echo "test"
workflows:
  test_build:
    jobs:
      - build
#workflows:
#  build_and_push_image:
#    jobs:
#    - build
#    - aws-ecr/build-and-push-image:
#        requires:
#          - build
#        account-url: AWS_ACCOUNT_URL
#        aws-access-key-id: AWS_ACCESS_KEY_ID
#        aws-secret-access-key: AWS_SECRET_ACCESS_KEY
#        create-repo: true
#        region: AWS_DEFAULT_REGION
#        repo: circleci
#        tag: ${CIRCLE_SHA1}
