version: 2.1
orbs:
  aws-ecr: circleci/aws-ecr@0.0.2
  aws-ecs: circleci/aws-ecs@0.0.8
workflows:
  build-and-deploy:
    jobs:
      - aws-ecr/build_and_push_image:
          account-url: "${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_DEFAULT_REGION}.amazonaws.com"
          repo: circleci
          region: ${AWS_DEFAULT_REGION}
          tag: ${CIRCLE_SHA1}
      - aws-ecs/deploy-service-update:
        requires:
          - aws-ecr/build_and_push_image
        aws-region: ${AWS_DEFAULT_REGION}
        family: "simple-service"
        service-name: "simple-service-Service-G3XJD7WVXGP1"
        cluster-name: "simple-cluster"
        container-image-name-updates: "container=app,tag=${CIRCLE_SHA1}"